#galeria {
  background-image: url(../img/f2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 250px;
}


.row .card {
    background: #f07940;
    color:  white;
    border: none;
    transition: all 0.25s;
}

.row .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0,0.2);
}


 .contenido {
   
     padding: 10%;
 }

 .contenido a {
   
 }

 .contenido a:hover {
    color: rgba(255, 248, 231);
    outline: none;
    list-style: none;
    border: none;
 }

 .costo {
     text-align: center;
     font-size: 30px;
     color: white;
 }

#busqueda {
    
}

.pag{
    background: rgb(255, 202, 96);
}